.signUp-title{
    width: 870px;
    height: 141px;


    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 135px;
    text-align: center;

    color: rgba(243, 58, 80, 0.47);
}
.enter-loginUser{
    width: 418px;
    height: 44px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 93.48%;
    /* or 22px */

    text-align: center;

    color: #FF2C45;
}
.signUp-firstName{
    width: 675px;
    height: 53px;
    background: rgba(255, 255, 255, 0.43);
    border: 3px solid rgba(0, 31, 70, 0.7);
}
.signUp-firstName-text{
    width: 268px;
    height: 40px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */

    text-align: right;

    color: rgba(0, 31, 70, 0.4);
}
.signUp-lastName-text{

    width: 268px;
    height: 40px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */

    text-align: right;

    color: rgba(0, 31, 70, 0.4);
}
.signUp-lastName{
    width: 675px;
    height: 53px;
    background: rgba(255, 255, 255, 0.43);
    border: 3px solid rgba(0, 31, 70, 0.7);
}
.signUp-userName{

    width: 675px;
    height: 53px;
    background: rgba(255, 255, 255, 0.43);
    border: 3px solid rgba(0, 31, 70, 0.7);
}
.signUp-userName-text{
    width: 268px;
    height: 40px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */

    text-align: right;

    color: rgba(0, 31, 70, 0.4);
}
.signUp-phone{
    width: 675px;
    height: 53px;
    background: rgba(255, 255, 255, 0.43);
    border: 3px solid rgba(0, 31, 70, 0.7);
}
.signUp-phone-text{
    width: 268px;
    height: 40px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    text-align: right;

    color: rgba(0, 31, 70, 0.4);
}
.signUp-email-text{
    width: 268px;
    height: 40px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */
    
    text-align: right;
    
    color: rgba(0, 31, 70, 0.4);
}
.signUp-email{
    width: 675px;
    height: 53px;
    background: rgba(255, 255, 255, 0.43);
    border: 3px solid rgba(0, 31, 70, 0.7);
}
.signUp-password-text{
    width: 268px;
    height: 40px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */

    text-align: right;

    color: rgba(0, 31, 70, 0.4);
}
.signUp-password{
    width: 675px;
    height: 53px;

    background: rgba(255, 255, 255, 0.43);
    border: 3px solid rgba(0, 31, 70, 0.7);
}
.signUp-checkbox{
    width: 52px;
    height: 53px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}
.signUp-checkbox-text{

    width: 418px;
    height: 44px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */

    text-align: right;

    color: rgba(0, 31, 70, 0.75);
}
.signUp-enterUser{
    width: 304px;
    height: 84px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.19);
    width: 303px;
    height: 71px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 93.48%;
    /* or 67px */

    text-align: center;

    color: rgba(255, 44, 69, 0.4);
}