a{
    text-decoration: none !important;
}

.participant-style{ 
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "section section aside"
    "section section aside";
	 /* grid-template-rows: 33% 33% 33%;  */
     grid-template-columns: 1fr 1fr 326px; 
    height: 100%;
    width: 100%;
}

.participant-style > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
}
.participant-props{
    grid-area: section;
}
.participant-nav{
    grid-area: nav;
}
.participant-profile{
    grid-area: aside;
}
.participant-allCompetitions{
 font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 93.48%;

}
.participant-title{
    font-family: almoni-ultrabold-aaa;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 135px;
    text-align: center;

    color: rgba(243, 58, 80, 0.47);
}

.participant-competitions{
     /* התחרויות שלי */

     position: relative;
     width: auto;
     padding: 20px;
     font-family: almoni-ultrabold-aaa;
     font-style: normal;
     font-weight: 800;
     font-size: 45px;
     line-height: 93.48%;
     text-align: right;
     color: #001F46;
}
.participant-profile{
    /* position: absolute;
    width: 326px;
    height: 969px;
    left: 1594px;
    top: 111px;

    background: #FFFFFF;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.19); */
    grid-area: aside;
    width: 326px;
    height: 969px;
    top: 111px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 1px rgb(0 0 0 / 19%);

    /* grid-area: aside;    */
}

.participant-profile-name{
    /* position: absolute;
    font-family: almoni-ultrabold-aaa;  */
    width: 326px;
    height: 33px;
    margin-top: 5px;
    font-family: almoni-ultrabold-aaa;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */
    text-align: center;
    color: #001F46;
}
.participant-profile-name-props{
    width: 326px;
    height: 33px;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 93.48%;
    text-align: center;
    color: #FF2C45;
}
.participant-edit-profile-text{

    width: 326px;
    height: 33px;
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 93.48%;
    padding: 0px;
    text-align: center;
    background-color: #FFFFFF;
    color: #001F46;
}
.linkComp{
    display: none;
}