.participant-style > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
}
.participant-props{
    grid-area: section;
}
.participant-nav{
    grid-area: nav;
}
.participant-allCompetitions{
    grid-area: allCompetitions;
}
.participant-title{
    position: absolute;
    width: 634px;
    height: 103px;
    left: 495px;
    top: 204px;

    font-family: Almoni Neue DL 4.0 AAA;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 135px;
    text-align: center;

    color: rgba(243, 58, 80, 0.47);
}

.participant-competitions{
     /* התחרויות שלי */
    position: absolute;
    width: 287px;
    height: 33px;
    left: 1217px;
    top: 364px;

    font-family: Almoni Neue DL 4.0 AAA;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 93.48%;
    /* or 42px */

    text-align: right;

    color: rgba(0, 31, 70, 0.8);
}
.participant-profile{
    /* position: absolute;
    width: 326px;
    height: 969px;
    left: 1594px;
    top: 111px;

    background: #FFFFFF;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.19); */
    grid-area: aside;
    width: 326px;
    height: 969px;
    top: 111px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 1px rgb(0 0 0 / 19%);

    /* grid-area: aside;    */
}
.participant-profile-pic{
    /* position: absolute;
    width: 231px;
    height: 248px;
    left: 1642px;
    top: 220px; */
    width: 244px;
    height: 244px;
    margin-top: 100px;
/* background: url(פרופיל משתמש 2.png); */
}
.participant-profile-name{
    /* position: absolute;
    font-family: Almoni Neue DL 4.0 AAA;  */
    width: 326px;
    height: 33px;
    left: 1594px;
    margin-top: 5px;
    font-family: almoni-dl-aaa-400;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93.48%;
    /* or 34px */
    text-align: center;
    color: #001F46;
}
.participant-profile-name-props{
    /* position: absolute;
    width: 326px;
    height: 33px;
    left: 1594px;
    top: 501px;
    font-family: Almoni Neue DL 4.0 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 93.48%;
    or 22px
    text-align: center;
    color: #FF2C45; */
    width: 326px;
    height: 33px;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 93.48%;
    text-align: center;
    color: #FF2C45;
}
.participant-edit-profile-text{
    /* position: absolute;
    width: 326px;
    height: 33px;
    left: 1594px;
    top: 531px;

    font-family: Almoni Neue DL 4.0 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 93.48%;
    or 11px
    text-align: center;
    color: #001F46; */
    width: 326px;
    height: 33px;
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 93.48%;
    padding: 0px;
    text-align: center;
    background-color: #FFFFFF;
    color: #001F46;
}